        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/web/bootstrap/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/web/bootstrap/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/web/bootstrap/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/web/bootstrap/ie10-viewport-bug-workaround.js"></script>
    <script src="/web/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/web/js/plugins/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="/web/js/plugins/jquery.maskMoney.min.js" type="text/javascript"></script>
    <script src="/web/js/plugins/validator.min.js"></script>
    <script src="/web/js/global.js"></script>
