<!DOCTYPE html>
<!-- saved from url=(0043)http://getbootstrap.com/examples/dashboard/ -->
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/web/images/favicon6.png">

    <title>Banco</title>

    <!-- Bootstrap core CSS -->
    <link href="/web/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/web/bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/web/bootstrap/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/web/bootstrap/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.banco.dev/"><span class="glyphicon glyphicon-home"> Home</span> </a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Dashboard</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Settings</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Profile</a></li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div> -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="navbar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Categorias <span class="sr-only">(current)</span></a></li>
            <li><a href="/Categoria/Cadastrar"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Cadastrar </span></a></li>
            <li><a href="/Categoria/Buscar"><span class="glyphicon glyphicon-search" aria-hidden="true"> Buscar </span></a></li>
            <li><a href="/Categoria/Remover"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"> Remover </span></a></li>
            <li><a href="/Categoria/Alterar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Alterar </span></a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li class="active"><a href="#" class="background-success">Lan&ccedil;amentos <span class="sr-only">(current)</span></a></li>
            <li><a class="background-success" href="/Lancamento/Cadastrar"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Cadastrar </span></a></li>
            <li><a class="background-success" href="/Lancamento/Buscar"><span class="glyphicon glyphicon-search" aria-hidden="true"> Buscar </span></a></li>
            <!-- <li><a href="/Lancamento/Remover">Remover</a></li>
            <li><a href="/Lancamento/Alterar">Alterar</a></li> -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <!-- <h1 class="page-header">Dashboard</h1> -->
          <div class="row">
