<?php require "app/view/header.phtml"; ?>

      <h2 class="sub-header">Categorias</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <?php require "app/view/cabecalhoTabelaCategoria.phtml"; ?>
          <tbody>
            <?php foreach ($model->Categorias as $key => $value) {?>
            <tr>
              <td><?=$value["id"]?></td>
              <td><?=$value["nome"]?></td>
            </tr>
            <?php }?>
          </tbody>
        </table>
      </div>

      <h2 class="sub-header">
        Lançamentos
      </h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Data</th>
              <th>Categoria</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($model->Lancamentos as $key => $value) {?>
            <tr>
              <td><?=$value["id"]?></td>
              <td><?=$value["descricao"]?></td>
              <td><?=NumberHelper::converteFloatMoeda($value["valor"])?></td>
              <td><?php $date = new DateTime($value["data"]);echo $date->format('d-m-Y');?></td>
              <td><?=$value["nome"]?></td>
              <td><?=$value["tipo"]?></td>
            </tr>
            <?php }?>
          </tbody>
        </table>
      </div>

<?php require "app/view/footer.phtml"; ?>

</body>
</html>
