<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Categorias</h2>
      <div class="table-responsive">

          <table class="table table-striped">
            <?php require "app/view/cabecalhoTabelaCategoria.phtml"; ?>
            <tbody>
              <?php foreach ($model->Categorias as $key => $value) {?>
                  <tr>
                    <td><?=$value["id"]?></td>
                    <td><input value="<?=$value['nome']?>" name="NomeCategoria" id="<?=$value['id']?>" autocomplete="off" required/> </td>
                    <td><button type="submit" class="btn btn-primary" onclick="alterar('Update',<?=$value['id']?>);">Alterar</button></td>
                  </tr>
              <?php }?>
            </tbody>
          </table>

      </div>
<?php require "app/view/footer.phtml"; ?>

<?php HTMLHelper::includeJS("Categoria/Alterar"); ?>

</body>
</html>
