<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Pesquise por uma Categoria</h2>
      <form action="Retrieve" method="POST" id="frmBuscar">
        <div class="form-group">
          <label for="NomeCategoria">Nome</label>
          <input type="text" class="form-control" name="NomeCategoria" id="NomeCategoria" placeholder="Nome da categoria" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">

        </table>
      </div>

<?php require "app/view/footer.phtml"; ?>
<?php HTMLHelper::includeJS("Categoria/Buscar"); ?>


</body>
</html>
