<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Preencha o formulario para Cadastrar uma Categoria</h2>
      <form action="Create" method="POST" id="frmCadastrar" data-toggle="validator" role="form">
        <div class="form-group">
          <label for="NomeCategoria">Nome</label>
          <input type="text" class="form-control" name="NomeCategoria" id="NomeCategoria" placeholder="Nome da categoria" autocomplete="off" data-error=" " required>
          <div class="help-block with-errors"></div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>

<?php require "app/view/footer.phtml"; ?>
<?php HTMLHelper::includeJS("Categoria/Cadastrar"); ?>


</body>
</html>
