<?php require "app/view/cabecalhoTabelaCategoria.phtml"; ?>
<tbody>
  <?php foreach ($model->Categorias as $key => $value) {?>
  <tr>
    <td><?=$value["id"]?></td>
    <td><?=$value["nome"]?></td>
  </tr>
  <?php }?>
</tbody>
