<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Categorias</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <?php require "app/view/cabecalhoTabelaCategoria.phtml"; ?>
          <tbody>
            <?php foreach ($model->Categorias as $key => $value) {?>
            <tr id="<?=$value['id']?>">
              <td><?=$value["id"]?></td>
              <td><?=$value["nome"]?></td>
              <td><button type="button" class="btn btn-primary" onclick="remover('Delete', <?=$value['id']?> )"> Remover</button></td>
            </tr>
            <?php }?>
          </tbody>
        </table>
      </div>

<?php require "app/view/footer.phtml"; ?>
<?php HTMLHelper::includeJS("Categoria/Remover"); ?>


</body>
</html>
