<?php require "app/view/header.phtml"; ?>
        <fieldset>
          <div class="form-group">
            <label for="categoria" class="control-label">Filtrar por Categoria:</label>
            <select id="categoria" class="form-control input-sm">
              <option value=""></option>
              <?php foreach ($model->Categorias as $key => $value) {?>
                <option value="<?=$value['id']?>">
                  <?=$value["nome"]?>
                </option>
              <?php }?>
            </select>
          </div>
          <div class="form-group">
            <a class="btn btn-success btn-sm" id="btncategoria" onclick="filtrarCategoria();">Filtrar</a>
          </div>


        <div class="form-group">
          <label for="tipo" class="control-label">Filtrar por Tipo:</label>
          <div class="form-group">
          <select id="tipo" class="form-control input-sm">
              <option value=""></option>
              <option value="Despesa">Despesa</option>
              <option value="Receita">Receita</option>
          </select>
        </div>
        <div class="form-group">
          <a class="btn btn-success btn-sm" id="btntipo" onclick="filtrarTipo();">Filtrar</a>
        </div>
      </fieldset>

      <h2 class="sub-header">
        Lan&ccedil;amentos
      </h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Descri&ccedil;&atilde;o</th>
              <th>Valor</th>
              <th>Data</th>
              <th>Categoria</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($model->Lancamentos as $key => $value) {?>
            <tr>
              <td><?=$value["id"]?></td>
              <td><?=$value["descricao"]?></td>
              <td><?=$value["valor"]?></td>
              <td><?php $date = new DateTime($value["data"]);echo $date->format('Y-m-d');?></td>
              <td><?= isset($value["nome"]) ? $value["nome"] : "" ?></td>
              <td><?=$value["tipo"]?></td>
            </tr>
            <?php }?>
          </tbody>
        </table>
      </div>

<?php require "app/view/footer.phtml"; ?>
<?php HTMLHelper::includeJS("Lancamento/Buscar"); ?>

</body>
</html>
