<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Preencha o formulario para Cadastrar um Lan&ccedil;amento</h2>
      <form action="Create" method="POST" id="frmCadastrarLance"  data-toggle="validator" role="form">
        <div class="form-group">
          <label for="Descricao">Descrição do Lançamento</label>
          <input type="text" class="form-control" name="Descricao" id="Descricao" placeholder="" data-error=" " required/>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="NomeCategoria">Valor</label>
          <!-- <input type="text" class="form-control" name="Valor" id="Valor" placeholder="" required="required" data-inputmask="'alias': 'numeric', 'groupSeparator': '.', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': 'R$ ', 'placeholder': '0', 'rightAlign': false"> -->
          <input type="text" class="form-control" name="Valor" id="Valor" placeholder="" data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal="," data-error=" " required/>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="NomeCategoria">Data</label>
          <input type="text" class="form-control" name="Data" id="Data" placeholder="" data-inputmask="'alias': 'dd/mm/yyyy'" data-error=" " required/>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="Categoria">Categoria</label>
          <select class="form-control input-sm" id="Categoria" name="Categoria">

          <?php foreach ($model->Categorias as $key => $value) { ?>
              <option value="<?=$value['id']?>"> <?=$value['nome']?> </option>
          <? } ?>
          </select>
        </div>
        <div class="form-group">
          <label for="Tipo">Tipo</label>
          <select class="form-control input-sm" id="Tipo" name="Tipo">
            <option value="Despesa"> Despesa </option>
            <option value="Receita"> Receita </option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </form>

<?php require "app/view/footer.phtml"; ?>
<?php HTMLHelper::includeJS("Lancamento/Cadastrar"); ?>


</body>
</html>
