<?php if (isset($model->Lancamentos)) {
      foreach ($model->Lancamentos as $key => $value) {?>
        <tr>
          <td><?=$value["id"]?></td>
          <td><?=$value["descricao"]?></td>
          <td><?=$value["valor"]?></td>
          <td><?php $date = new DateTime($value["data"]);echo $date->format('Y-m-d');?></td>
          <td><?=isset($value["nome"]) ?$value["nome"]:""?></td>
          <td><?=$value["tipo"]?></td>
        </tr>
<?php }
} ?>
