<?php require "app/view/header.phtml"; ?>
      <h2 class="sub-header">Categorias</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($model->Categorias as $key => $value) {?>
            <tr>
              <td><?=$value["id"]?></td>
              <td><?=$value["nome"]?></td>
              <td><a href="<?='Delete/'.$value["id"]?>">Remover</a></td>
            </tr>
            <?php }?>
          </tbody>
        </table>
      </div>
<?php require "app/view/footer.phtml"; ?>
